.root {
	/*Panel colors*/
	-fx-base: rgb(45, 45, 46);
	-dark-base: rgb(40,40,41);
	-light-base1: rgb(47,47,49);
	-light-base2: rgb(80, 80, 85);
	-off-black: rgb(36,36,37);

	/*Special colors*/
	-toDo-blue: rgb(0,122,205);
	-low-priority: rgb(90, 200, 90);
	-mid-priority: rgb(200, 200, 90);
	-high-priority: rgb(200, 90, 90);
	-cancel-red: rgb(150, 0, 0);

	/* Text colors */
	-fx-main-text: white;
	-fx-mid-text-color: rgb(100, 100, 100);
	-fx-alternate-text: rgb(20, 20, 20);

	-fx-background: -fx-base;
}

.accordionBackground,
.accordionBackground > *,
.accordionBackground > * > *  {
	-fx-background-color: -light-base1;
}
.extendedViewHeader,
.extendedViewHeader > *,
.extendedViewHeader > * > *{
	-fx-background-color: -fx-base;
}

/* Standard Button */
.button {
	-fx-background-radius: 0;
	-fx-background-color: -light-base1;
	-fx-background-insets: 0;
	-fx-border-width: 1;
	-fx-border-color: -light-base2;
	-fx-cursor: hand;
}
.button:hover {
	-fx-background-color: -light-base2;
	-fx-border-color: -toDo-blue;
}
.button:pressed {
	-fx-background-color: -toDo-blue;
	-fx-border-color: -toDo-blue;
}

/* Top Bar*/
.topBar {
	-fx-background-color: -dark-base;
}
.exitButton {
	-fx-background-color: -dark-base;
	-fx-border-width: 0;
	-fx-background-image: url(../images/icons/close.png);
	-fx-background-size: 13px 13px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.exitButton:hover {
	-fx-background-color: -cancel-red;
}
.minimizeButton {
	-fx-background-color: -dark-base;
	-fx-border-width: 0;
	-fx-background-image: url(../images/icons/minimize.png);
	-fx-background-size: 13px 13px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.botMenuButton {
	-fx-background-color: -fx-base;
	-fx-background-image: url(../images/icons/menu.png);
	-fx-background-size: 15px 15px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
	-fx-border-width: 1;
	-fx-border-color: -dark-base;
}
.addListButton {
	-fx-background-color: -dark-base;
	-fx-border-width: 0;
	-fx-background-image: url(../images/icons/plus.png);
	-fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.addButton, .cancelButton {
	-fx-background-color: -fx-background;
	-fx-border-width: 0;
}
.addButton:hover {
	-fx-background-color: -dark-base;
	-fx-border-width: 0;
}
.addButton:pressed {
	-fx-border-width: 0;
}
.addFirstList {
	-fx-background-color: -fx-background;
	-fx-border-width: 1 1 1 0;
	-fx-border-color: black;
	-fx-background-image: url(../images/icons/plus.png);
	-fx-background-size: 20px 20px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}
.addFirstList:hover,
.addFirstList:pressed {
	-fx-border-width: 1 1 1 1;
}
.cancelButton:hover, .cancelButton:pressed{
	-fx-background-color: -cancel-red;
	-fx-border-width: 0;
}
.taskBox{
	-fx-background-color: -fx-base;
	-fx-cursor: hand;
}
.taskBox:hover{
	-fx-background-color: -dark-base;
}

/* Menu */
.menuContainer{
	-fx-background-color: -fx-base;
	-fx-border-color: -off-black;
	-fx-border-width: 2;
}
.listMenuButton{
	-fx-background-color: -light-base1;
	-fx-border-width: 0;
	-fx-cursor: hand;
}
.listMenuButton:hover{
	-fx-background-color: -off-black;
}
.listMenuButton:pressed{
	-fx-background-color: -toDo-blue;
}


/* Background */
.backgroundLayer{
	-fx-background-color: rgba(45, 45, 46, 0.7)
}
.overlayLayer {
	-fx-background-color: -fx-base;
	-fx-border-width: 1px;
	-fx-border-color: black;
}
.styleListLayer{
	-fx-background-color: -fx-base;
}
.dividerPane {
	-fx-background-color: black;
}
.addTaskBar {
	-fx-background-image: url(../images/icons/plus.png);
	-fx-background-size: 15px 15px;
	-fx-background-position: 25px center;
	-fx-background-repeat: no-repeat;
	-fx-background-color: -fx-base;
	-fx-border-width: 1;
	-fx-border-color: -dark-base;
}


/* Scrollbar */
.scrollPane {
	-fx-background-color: -fx-base;
	-fx-border-width: 0;
	-fx-border-color: -dark-base;
}
.scroll-bar {
	-fx-background-color: -fx-base;
	-fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
	-fx-background-color: -dark-base;
	-fx-background-insets: 4 4 4 4;
	-fx-background-radius: 2em;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}


/* ComboBox */
 .combo-box .list-view{
	 -fx-background-color: -light-base1;
	 -fx-background-radius: 0;
 }
 .combo-box .list-cell{
	 -fx-background-color: transparent;
	 -fx-text-fill: -fx-main-text;
 }
 .combo-box .list-cell:hover{
	 -fx-text-fill: -toDo-blue;
 }
 .combo-box .list-cell:selected{
	 -fx-text-fill: -toDo-blue;
 }
 .listSelector{
	 -fx-font-size: 24px;
	 -fx-background-color: -light-base1;
	 -fx-background-radius: 0;
 }
 .combo-box-base > .list-cell:selected{
	 -fx-text-fill: -fx-main-text;
 }

/* Main List */
.priority1 {
	-fx-background-color: -high-priority;
	-fx-border-color: -high-priority;
}
.priority2 {
	-fx-background-color: -mid-priority;
	-fx-border-color: -mid-priority;
}
.priority3 {
	-fx-background-color: -low-priority;
	-fx-border-color: -low-priority;
}
.checkButton {
	-fx-background-radius: 30px;
	-fx-border-width: 2;
	-fx-border-radius: 30px;
	-fx-background-image: url(../images/icons/check.png);
	-fx-background-size: 25px 25px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-color: none;
	-fx-cursor: hand;
}
.checkButton:hover{
	-fx-background-color: -light-base2;
}
.checkButton:pressed{
	-fx-background-color: -toDo-blue;
}
.menuButton {
	-fx-background-color: -fx-base;
	-fx-border-width: 0;
	-fx-background-image: url(../images/icons/menu.png);
	-fx-background-size: 25px 25px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-radius: 2em;
}
.checkButtonCompleted {
	-fx-background-radius: 30px;
	-fx-background-image: url(../images/icons/check_dark.png);
	-fx-background-fill: black;
	-fx-background-size: 25px 25px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-border-width: 3;
	-fx-border-radius: 30px;
	-fx-cursor: hand;
}

 /* Accordion drop down */
 .SVG {
	-fx-fill: -fx-mid-text-color;
}
.descriptionText {
	-fx-fill: -fx-main-text;
}
.accordionDivider {
	-fx-background-color: -light-base2;
}
.accordionEdit, .accordionremove {
	-fx-background-color: -light-base1;
	-fx-border-width: 0;
}
.accordionEdit:hover, .accordionremove:hover {
	-fx-background-radius: 1em;
}
.accordionremove:pressed {
	-fx-background-color: -cancel-red;
	-fx-background-radius: 1em;
}

 /* DatePicker */
 .date-picker {
	-fx-background-color: black, -fx-base;
	-fx-background-insets: 0, 1 1 1 1;
}
.date-picker > .arrow-button {
    -fx-background-color: black, -fx-base;
    -fx-background-insets: 0, 1 1 1 0, 0;
    -fx-background-radius: 0;
}
.date-picker:focused > .arrow-button {
    -fx-background-color:  -toDo-blue, -fx-base;
}
 .date-picker-popup {
	-fx-border-width: 0;
}
.date-picker-popup > .calendar-grid {
    -fx-background-color: black;
    /*-fx-background-insets: 1 0 0 0;*/
    -fx-padding: 0;
}
 .date-picker-popup > .month-year-pane {
	-fx-border-width: 1;
	-fx-border-color: black;
    -fx-background-color: -fx-base;
}
.date-cell {
    -fx-background-color: -fx-base;
    -fx-text-fill: -fx-main-text;
	-fx-border-width: 0;
}
.date-cell:hover {
    -fx-text-fill: -toDo-blue;
}
.date-cell.selected {
	-fx-background-color: -toDo-blue;
    -fx-text-fill: black;
}

 /* TextField */
.text-field,
.text-area {
    -fx-background-color: black, -fx-base;
    -fx-background-insets: 0, 1 1 1 1;
    -fx-background-radius: 0;
	-fx-text-fill: -fx-main-text;
	-fx-font-size: 12;
}
.text-field:focused,
.text-area:focused {
    -fx-background-color: -toDo-blue, -fx-base;
}
.text-area .content {
    -fx-background-color: -fx-base;
}